@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background: hsl(217deg, 54%, 11%);
  color: hsl(0deg, 0%, 100%);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 348px;
  max-height: 598px;
  padding: 26px 24px;
  background: hsl(216deg, 50%, 16%);
  box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}
.card .card-image {
  max-width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card .card-image .img-state {
  position: absolute;
  visibility: hidden;
}
.card .card-image .img-state img {
  width: 48px;
  height: 48px;
}
.card .card-image .bg-hover {
  position: absolute;
  background: hsla(178deg, 100%, 50%, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  visibility: hidden;
}
.card .card-title {
  margin-bottom: 20px;
}
.card .card-title h1 {
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
.card .card-title h1 a {
  text-decoration: none;
  color: #ffffff;
}
.card .card-title h1 a:hover {
  color: hsl(178deg, 100%, 50%);
}
.card .card-info {
  margin-bottom: 25px;
}
.card .card-info p {
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #8bacda;
}
.card .card-price-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  margin-bottom: 25px;
}
.card .card-price-time p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #00fff6;
}
.card .card-price-time p span {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.card .card-price-time p span img {
  width: 100%;
  height: 100%;
}
.card .card-price-time p:last-child {
  color: #8bacda;
}
.card hr {
  min-width: 300px;
  margin: 0 0 15px 0;
  border: 1px solid rgba(139, 172, 218, 0.5);
}
.card .creator {
  display: flex;
  align-items: center;
}
.card .creator .image-wrap {
  max-width: 32px;
  max-height: 32px;
  margin-right: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.card .creator .image-wrap img {
  width: 100%;
  height: 100%;
}
.card .creator p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #8bacda;
}
.card .creator p a {
  text-decoration: none;
  color: #fff;
}
.card .creator p a:hover {
  color: hsl(178deg, 100%, 50%);
}
.card .card-image:hover {
  cursor: pointer;
}
.card .card-image:hover .img-state {
  visibility: visible;
}
.card .card-image:hover .bg-hover {
  visibility: visible;
  -webkit-animation: scale-up-center 1s ease-in-out 0.1s both;
  animation: scale-up-center 1s ease-in-out 0.1s both;
}

@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */